.App {
  text-align: center;

  /* background: rgb(255, 65, 65); */
  /* padding: 0 5%; */
  margin: 0;
  background: #f26062;
}

.App > * {
  width: 100%;
  height: 100vh;
  /* border: 1px solid saddlebrown; */
  color: white;
}

@media screen and (min-width: 700px) {
  .App {
    display: flex;
  }
}
